@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

body {
    background-color: #222222;
}

.text {
    position: absolute;
    font-family: 'Lalezar';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}

.ellipse {
    position: absolute;
}

/* Extra Small Devices (Phones) */

@media only screen and (max-width: 768px) {
    .ellipse {
        width: 388px;
        height: 145px;
        left: -109px;
        top: -93px;
        background: linear-gradient(180deg, #881010 57%, #EE1C1C 92%);
        border-radius: 500px 1000px 1500px 500px;
    }

    .text{
        width: 214px;
        height: 31px;
        left: 12px;
        top: 14px;
        font-size: 20px;
        line-height: 31px;
        color: #FFFFFF;
    }

}

/* Small Devices (Tablets, Small Phones) */
@media only screen and (min-width: 768px) {
  .ellipse {
    width: 561px;
    height: 276px;
    left: -127px;
    top: -176px;
    background: linear-gradient(180deg, #881010 65%, #EE1C1C 92%);
    border-radius: 500px 1000px 1500px 500px;
}

.text {
    width: 341px;
    height: 50px;
    left: 22px;
    top: 26px;
    font-size: 32px;
    line-height: 50px;
}
}

/* Medium Devices (Tablets, Small Desktops) */
@media only screen and (min-width: 992px) {
    .ellipse {
        width: 561px;
        height: 276px;
        left: -127px;
        top: -176px;
        background: linear-gradient(180deg, #881010 65%, #EE1C1C 92%);
        border-radius: 500px 1000px 1500px 500px;
    }
    
    .text {
        width: 341px;
        height: 50px;
        left: 22px;
        top: 26px;
        font-size: 32px;
        line-height: 50px;
    }
}

/* Large Devices (Desktops, Laptops) */
@media only screen and (min-width: 1200px){
    .ellipse {
        width: 561px;
        height: 276px;
        left: -127px;
        top: -176px;
        background: linear-gradient(180deg, #881010 65%, #EE1C1C 92%);
        border-radius: 500px 1000px 1500px 500px;
    }
    
    
    .text {
        width: 341px;
        height: 50px;
        left: 22px;
        top: 26px;
        font-size: 32px;
        line-height: 50px;
    }
}